
:root{
    font-family: 'Roboto',arial;
    flex-wrap: wrap;
    
    /* text color */

    --hero-main-text-color:#f9faf8;
    --hero-secondary-text-color:#e5e7eb;
    --header-logo-text-color:#f9faf8;
    --information-header-text-color:#1f2937;
    --quote-text-color:#1f2937;
    
    /* background color */
    --button-color:#3882f6;
    --quote-section-background-color:#e5e7eb;
    --dark-background-color:#1f2937;

}

 body{
    display: flex;
    flex-flow: column nowrap;
} 


.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.1rem;
    flex-wrap: wrap;
    gap: 1rem;
    background: var(--dark-background-color);
    color: var(--header-logo-text-color);
}

.logo{
    font-size: 1.5rem;
    color: var(--header-logo-text-color);
    font-weight: 600;
}

.nav-left-elements{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.main-page{
    height: 100vh;
    padding: 0 6rem;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 1rem;
    background: var(--dark-background-color);
    flex: 1 1 auto;
   

}

.main-page-intro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 0 auto;
    width: 4rem;
    min-width: 18.75rem;
    max-width: 30.06875rem;
    padding: 2rem;
    background: inherit;
   
}

.main-page-intro :nth-child(1){
    font-size: 3rem;
    font-weight: 600;
    color: var(--hero-main-text-color);
}

.main-page-intro :nth-child(2){
    font-size: 1.125rem;
    color: var(--hero-secondary-text-color);
}


.main-page-intro span{
    display: flex;
    flex-flow: row wrap;

}

.imageSize{
    width: 25rem;
    max-width: 30rem;
    min-width: 19rem;
    height: 15rem;
    flex: 1 1 0%;
    border: 1px solid black;
    background: #6d747d;
}






button{
    width: 7rem;
    height: 2.5rem;
    outline: none;
    background: var(--button-color);
    border-radius: 0.4rem;
    border: none;
    color: var(--hero-secondary-text-color);
}


.info{
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.info-intro{
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
}

.info-content
{
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
}

.info-image{
    height: 12rem;
    border: 0.2rem solid black;
    border-color: #3b82f6;
    border-radius: 1rem;
}

.info-image-container{
    display: flex;
    flex-flow: column wrap;
    ;
    width: 12.5rem;
   
    gap: 1rem;
}

.info-subtext{
text-align: center;
}

.quote-container{
    display: flex;
    flex-flow: column wrap;
    padding: 5rem;
    align-items: center;
    justify-content: center;
    gap:4rem;
    background: var(--quote-section-background-color);
}

.quote{
    font-style: italic;
    font-weight: lighter;
    color: var(--quote-text-color);
    font-size: 2.25rem;
    flex: 1 1 auto;
    max-width: 50rem;
    min-width: 18rem;
}

.quote-provider{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 50rem;
}

.signup-container{
    display: flex;
    flex-flow: column wrap;
    padding: 5rem 2rem;
    align-items: center;
    justify-content: center;
}

.signup-content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 4rem 4rem;
    border-radius: 1rem;
    gap: 2rem;
    background-color: var(--button-color);
    justify-content: space-around;
}
.signup-text{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.signup-text :nth-child(1){
    font-weight: bolder;
    font-size: 1.1rem;
    color: var(--hero-main-text-color);
}

.signup-text :nth-child(2){
    color: var(--hero-secondary-text-color);
}

.signup-button{
    border: 0.1rem solid white;
    font-weight: bold;
}

.footer{
    background: var(--dark-background-color);
    text-align: center;
    padding: 2rem;
    color: var(--hero-secondary-text-color);
}

@media all and (max-width:450px){
   .main-page{
       padding: 0 2rem;
   }

}

@media all and (max-width:368px){
    :root{
        font-size: 14px;
    }

}

@media all and (max-width:322px){
    :root{
        font-size: 12px;
    }

}

@media all and (max-width:276px){
    :root{
        font-size: 10px;
    }

}

@media all and (max-height:611px){
    .main-page{
        flex: 1 1 0%;
        padding-bottom: 1rem;

    }

    .imageSize{
        /* margin-bottom: 1rem; */
        align-self: center;
    }
}